.mediaViewInfo {
	--web-view-name: affiliates;
	--web-view-id: affiliates;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-navigate-on-keypress: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: affiliates;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#affiliates {
	position: absolute;
	width: 1280px;
	height: 1266px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: affiliates;
	--web-view-id: affiliates;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-navigate-on-keypress: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#pexels-polina-tankilevitch-390 {
	opacity: 0.5;
	position: absolute;
	width: 1280px;
	height: 1920px;
	left: 0px;
	top: -417px;
	overflow: visible;
}
#close {
	mix-blend-mode: hard-light;
	position: absolute;
	width: 50px;
	height: 50px;
	left: 1195px;
	top: 50px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: index.html;
	cursor: pointer;
}
#Line_4 {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_4 {
	overflow: visible;
	position: absolute;
	width: 67.678px;
	height: 3.033px;
	transform: translate(0px, 0px) matrix(1,0,0,1,-8.8388,23.4835) rotate(45deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Line_5 {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_5 {
	overflow: visible;
	position: absolute;
	width: 67.678px;
	height: 3.033px;
	transform: translate(0px, 0px) matrix(1,0,0,1,-8.8388,23.4835) rotate(135deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#affiliates_r {
	left: 112px;
	top: 117px;
	position: absolute;
	overflow: visible;
	width: 170px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(0,0,0,1);
	text-transform: capitalize;
}
#Our_affiliate_program_is_an_ex {
	left: 112px;
	top: 193px;
	position: absolute;
	overflow: visible;
	width: 1119px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(0,0,0,1);
}
#Component_15__1 {
	position: absolute;
	width: 212.132px;
	height: 212.132px;
	left: 534px;
	top: 513.726px;
	overflow: visible;
}
#plan1 {
	position: absolute;
	width: 212.132px;
	height: 212.132px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_4 {
	fill: rgba(16,193,16,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_4 {
	width: 150px;
	height: 150px;
	position: absolute;
	overflow: visible;
	transform: translate(0px, 0px) matrix(1,0,0,1,31.066,31.066) rotate(45deg);
	transform-origin: center;
}
#Up_to_50_Direct_Refferal {
	left: 48.065px;
	top: 73px;
	position: absolute;
	overflow: visible;
	width: 117px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(0,0,0,1);
}
#iconfinder_SEO_affiliate_marke {
	position: absolute;
	width: 48px;
	height: 48px;
	left: 82.066px;
	top: 21px;
	overflow: visible;
}
#Ellipse_1 {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 2px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Ellipse_1 {
	position: absolute;
	overflow: visible;
	width: 8px;
	height: 8px;
	left: 21px;
	top: 42px;
}
#Ellipse_2 {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 2px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Ellipse_2 {
	position: absolute;
	overflow: visible;
	width: 8px;
	height: 8px;
	left: 42px;
	top: 42px;
}
#Ellipse_3 {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 2px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Ellipse_3 {
	position: absolute;
	overflow: visible;
	width: 8px;
	height: 8px;
	left: 0px;
	top: 42px;
}
#Group_2 {
	position: absolute;
	width: 10px;
	height: 7px;
	left: 3px;
	top: 28.053px;
	overflow: visible;
}
#Group_1 {
	position: absolute;
	width: 10px;
	height: 7px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Line_6 {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 2px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_6 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 5.5px;
	left: 10px;
	top: 3.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_7 {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 2px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_7 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 1px;
	left: 10px;
	top: 3.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_6 {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 2px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_6 {
	overflow: visible;
	position: absolute;
	width: 5.291px;
	height: 5.5px;
	left: 7.1px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_8 {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 2px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-dasharray: 5.206600189208984 0;
	stroke-dashoffset: 0;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_8 {
	overflow: visible;
	position: absolute;
	width: 6.989px;
	height: 5.79px;
	left: 2.9px;
	top: 2px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_9 {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 2px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_9 {
	overflow: visible;
	position: absolute;
	width: 5.682px;
	height: 4.782px;
	left: 0px;
	top: 5px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_4 {
	position: absolute;
	width: 10px;
	height: 7px;
	left: 35px;
	top: 28.053px;
	overflow: visible;
}
#Group_3 {
	position: absolute;
	width: 10px;
	height: 7px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Line_10 {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 2px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_10 {
	overflow: visible;
	position: absolute;
	width: 5.682px;
	height: 4.782px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_11 {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 2px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-dasharray: 5.206600189208984 0;
	stroke-dashoffset: 0;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_11 {
	overflow: visible;
	position: absolute;
	width: 6.989px;
	height: 5.79px;
	left: 2.9px;
	top: 2px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_12 {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 2px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_12 {
	overflow: visible;
	position: absolute;
	width: 5.682px;
	height: 4.782px;
	left: 7.1px;
	top: 5px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_7 {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 2px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_7 {
	overflow: visible;
	position: absolute;
	width: 12px;
	height: 6.4px;
	left: 19.237px;
	top: 11.304px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_8 {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 2px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Path_8 {
	overflow: visible;
	position: absolute;
	width: 6px;
	height: 8px;
	left: 22px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#how_to_get_aff {
	left: 112px;
	top: 726px;
	position: absolute;
	overflow: visible;
	width: 309px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(0,0,0,1);
	text-transform: capitalize;
}
#Your_BTC_address_is_your_refer {
	left: 112px;
	top: 802px;
	position: absolute;
	overflow: visible;
	width: 1057px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(0,0,0,1);
}
#Component_4__2 {
	position: absolute;
	width: 191px;
	height: 91.5px;
	left: 545px;
	top: 1083.608px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: invest.html;
	cursor: pointer;
}
#batton {
	position: absolute;
	width: 191px;
	height: 91px;
	left: 0px;
	top: -0.608px;
	overflow: visible;
}
#Rectangle_2 {
	fill: rgba(60,207,99,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_2 {
	position: absolute;
	overflow: visible;
	width: 191px;
	height: 91px;
	left: 0px;
	top: 0px;
}
#invest {
	left: 30px;
	top: 15px;
	position: absolute;
	overflow: visible;
	width: 132px;
	white-space: nowrap;
	text-align: left;
	font-family: Romantic;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(0,0,0,1);
	text-transform: capitalize;
}
#batton_bl {
	mix-blend-mode: soft-light;
	position: absolute;
	width: 191px;
	height: 91px;
	left: 0px;
	top: 0.5px;
	overflow: visible;
}
#Rectangle_2_bm {
	fill: rgba(194,173,173,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_2_bm {
	position: absolute;
	overflow: visible;
	width: 191px;
	height: 91px;
	left: 0px;
	top: 0px;
}